spring:
  application:
    name: routine-app
  thymeleaf:
    cache: false
  web:
    resources:
      cache:
        period: 0
      chain:
        cache: false
  datasource:
    url: jdbc:postgresql://localhost:5433/routine_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        default_schema: public
    open-in-view: false

server:
  port: 8080

logging:
  level:
    com.example.routineapp: DEBUG
    org.springframework.security: DEBUG
